body {
    background-color: #333;
    color: #fff;
    font-size: 100%;
}

a:link, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #bbb;
    text-decoration: none;
}

a:active {
    color: #fff;
    text-decoration: none;
}

#link-list-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    text-align: center;
}

#link-list-container img {
    margin-bottom: 5em;
}

#link-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0;
}

#link-list li {
    margin-top: 1em;
    white-space: nowrap;
}

#link-list li:first-child {
    margin-top: 0;
}

#link-list .fa, .ai {
    transform: translateY(14%);
    display: inline-block;
    margin-right: 0.2em;
}
