body {
    background-color: #fbfbf8;
    color: #444;
    font-size: 100%;
    font-family: "EB Garamond", serif;
    font-weight: 400;
}

.sans-serif {
    font-family: "Oswald";
}

a:link, a:visited {
    color: #444;
    text-decoration: underline;
}

a:hover {
    color: #222;
    text-decoration: underline;
}

a:active {
    color: #444;
    text-decoration: underline;
}

.me-image {
    width: 200px;
    border-radius: 5px;
}

.me-container {
    max-width: 500px;
}

.centered-horizontal {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#link-list {
    list-style-type: none;
    padding: 0;
    text-align: left;
    margin: 0;
}

#link-list li {
    margin-top: 1em;
    white-space: nowrap;
}

#link-list li:first-child {
    margin-top: 0;
}

#link-list .fa, .ai {
    transform: translateY(14%);
    display: inline-block;
    margin-right: 0.3em;
}

#link-list li a {
    text-decoration: none;
}
